* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans";
}

html, body {
    height: 100%;
}
/* Header da página */

@font-face {
    font-family: "Open Sans";
    src: url(./fonts/OpenSans-Light.ttf);
}

header {
    width: 100%;
    height: 60px;
    padding: 0 2%;
    background-color: #212343;
}

.center {
    width: 100%;
    margin: 0 auto;
    max-width: 1280px;
}

#logo {
    margin: 19px;
}

/* Conteúdo principal da página */

.container-banner {
    width: 100%;
    height: 557px;
    padding: 0 2%;
    background-image: url(./imgs/header_bg.png);
    background-size: cover; 
    background-position: center;
}

.container-banner > .center {
    height: 100%;
}

.form {
    padding: 20px;
    width: 400px;
    height: calc(100% + 30px);
    background-color: #212343;
    border: 8px solid #16172c;
    float: right;
    position: relative;
    top: -15px;
}

.form h2{
    font-size: 20px;
    color: rgba(255, 255, 255, 0.904);
    font-weight: normal;
    font-family: Arial, Helvetica, sans-serif;
}

.input-container {
    margin-top: 20px;
}

.input-container span {
    display: inline-block;
    width: 100%;
    font-size: 17px;
    color: white;
}

.input-container input {
    width: 344px;
    height: 55px;
    color: white;
    border: 4px solid #16172c;
    border-radius: 5px;
    margin-top: 10px;
    background-color: #16172c;
}

.form .input-submit-container{
    text-align: center;
}

form input[type=submit] {
    width: 280px;
    height: 56px;
    margin-top: 40px;
    background-color: #16172c;
    color: white;
    border: 1px solid white;
    font-size: 20px;
    display: inline-block;
    cursor: pointer;
    transition: 0.5s;
}

form input[type=submit]:hover {
    background-color: white;
    color: #212343;
    font-family: Arial, Helvetica, sans-serif;
}

form input[type=submit]:placeholder {
    color: white;
}

.container-list {
    width: 619px;
    height: 270px;
    background-color: rgba(33, 35, 67, 0.7);
    float: left;
    margin-top: 130px;
    padding: 10px;
}

.container-list ul li {
    color: white;
    list-style-position: inside;
    margin-top: 18px;
}

/* Segunda sessão do site */

.segundo-container {
    padding: 40px 0;
    background-color: #ddd;
    text-align: center;
}

.segundo-container h1 {
    margin-bottom: 20px;

}
.segundo-container p {
    text-align: justify;
    width: 698px;
    margin: auto;
}

.arrow {
    width: 40px;
    height: 40px;
    background-image: url(./imgs/arrow.png);
    background-size: 100% 100%;
    position: relative;
    top: -20px;
    margin: 0 auto;
}

/* Última sessão */

.section-1 {
    padding: 90px 0;

}

.section-1 h2 {
    text-align: center;
    color: #212343;
}

.container-section {
    margin-top: 40px;
    text-align: center;
}

.container-single {
    float: left;
    width: 33.3333%;
    padding: 30px;
}

.container-section img {
    width: 70px;
}

.container-single p{
    padding: 30px;
}

footer {
    background-color: #212343;
    padding: 20px 0;
    clear: both;
    text-align: center;
    color: white;
}
